body {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease; 
    background-color: #05a2c9;
}

.navbar {
    background-color: #e74c3c; 
    color: #000000;
    border: none; 
    border-radius: 0; 
}

#mainWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    padding: 20px;
    max-width: 6000px;
    min-width: 500px;
    border: 2px solid #e74c3c; 
    border-radius: 5px; 
}

#secondWindow {
    max-width: 800px;
    margin: 20px;
    min-height: 400px;
    background-color: #ecf0f1;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
}

#moveTable {
    width: 100%;
    max-height: 250px;
    overflow: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
}

.table th, .table td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: center;
}

#controls {
    position: relative;
    margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    #board {
        max-width: 100%;
    }

    #secondWindow {
        max-width: 100%;
    }
}
